.slider {
    -webkit-appearance: none;
    width: 100%;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    
    background: url('/src/assets/slide_icon.svg') no-repeat center;
    background-size: cover;
    cursor: pointer;
}
